@import "variables";
@import "../bower_components/font-awesome/less/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "animations";
@import "responsive";
@import "utils";
@import "./components/header";
@import "./components/tile";
@import "./components/wall";
@import "./components/settings";
@import "./components/querie";
@import "./components/login";
@import "./components/logout";
@import "./components/sort.less";

@import "settings";
@import "trophies";

body {
	color: @white;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2px;
	word-spacing: 1px;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: @black;

}


.container {
	width: calc(~"100% - " 40px);
	float: left;
	background: @white;
	color: @black;
	padding: 20px;
	margin-bottom: 7px;
}

.text-center {
	text-align: center;
}